<div class="aboutWrapper" id="aboutWrapper">
  <h2 class="title">About Me</h2>
  <hr />
  <div class="features" id='features'>
    <div class="feature">
      <img src="../../assets/world.svg" alt="" />
      <h6>World Class Apps</h6>
    </div>
    <div class=" feature">
      <img src="../../assets/performance.svg" alt="" />
      <h6>Excellent Performance Apps</h6>
    </div>
    <div class="feature">
      <img src="../../assets/responsive.svg" alt="" />
      <h6>Responsive Design</h6>
    </div>
    <div class=" feature">
      <img src="../../assets/Fitted.svg" alt="" />
      <h6>Fitted For Your Needs</h6>
    </div>
  </div>
  <div class="info row container " id="infoAbout">
    <div class="photo col-xs-12 col-md-6 col-lg-6">
      <img src="../../assets/8bf73cd4-e9c5-4ba5-b9eb-8be11ae684be.png" alt="" />
    </div>
    <div class="text col-xs-12 col-md-6 col-lg-6">
      I'm a Full Stack Developer from Costa Rica. I have 4+ years of experience.
      I'm passioned for creating awesome applications. Contact me on LinkedIn
      for more information.
      <div class="social">
        <a
          href="https://www.linkedin.com/in/helberth-torres-aguilar-b55427127"
          target="_blank"
        >
          <img src="../../assets/linkedin.svg" alt="LinkedIn"
        /></a>
      </div>
    </div>
  </div>
</div>
