<div class="aboutWrapper" id="aboutWrapper">
  <h2 class="title wow fadeInDown">About Me</h2>
  <hr />
  <div class="features" id="features">
    <div class="feature wow fadeIn">
      <img src="../../assets/world.svg" alt="" />
      <h6>World Class Apps</h6>
    </div>
    <div class=" feature wow fadeIn" data-wow-delay="0.3s">
      <img src="../../assets/performance.svg" alt="" />
      <h6>Excellent Performance Apps</h6>
    </div>
    <div class="feature wow fadeIn" data-wow-delay="0.6s">
      <img src="../../assets/responsive.svg" alt="" />
      <h6>Responsive Design</h6>
    </div>
    <div class=" feature wow fadeIn" data-wow-delay="0.9s">
      <img src="../../assets/Fitted.svg" alt="" />
      <h6>Fitted For Your Needs</h6>
    </div>
  </div>
  <div class="info row container " id="infoAbout">
    <div
      class="photo col-xs-12 col-md-6 col-lg-6 wow fadeIn"
      data-wow-delay="1.2s"
    >
      <img src="../../assets/photo.webp" alt="" />
    </div>
    <div
      class="text col-xs-12 col-md-6 col-lg-6 wow fadeIn"
      data-wow-delay="1.5s"
    >
      Hi! I'm a Costa Rican Full Stack Web Developer. I have 5+ years of
      experience. I'm passioned for creating a lot of awesome applications.
      Please feel free to contact me for more information.
      <div class="social">
        <a href="#" class="p-3">
          Contact Me
        </a>
      </div>
    </div>
  </div>
</div>
