<div class="wrapper">
  <!-- Menu -->
  <div class="menuPhone" *ngIf="innerWidth<576">
    <div class="menuWrapper z-depth-3 animated fadeInDown" [@openClose]="showMainMenu ? 'open' : 'closed'">
      <div class="logoWrapper" [@openClose]="showMainMenu ? 'open' : 'closed'">
        <img src="../../assets/logo-negative.png" alt="" class="logo" />

      </div>
      <div class="menuButtonWrapper" [@openClose]="showMainMenu ? 'open' : 'closed'">
        <img [@openClose]="showMainMenu ? 'open' : 'closed'" (click)="toggleMenu()" src="../../assets/hamburger.svg"
          alt="menu" class="menuButton" />
      </div>
    </div>

    <div class="hiddenMenu z-depth-2" [@openClose]="showMenu ? 'open' : 'closed'">
      <ul class="options list-unstyled">
        <li class="opt">
          <a href="#aboutWrapper" mdbPageScroll><img src="../../assets/user.svg" alt="" class="imgLinks" /></a>
        </li>
        <li class="opt">
          <a href="#skillsWrapper" mdbPageScroll><img src="../../assets/skills.svg" alt="" class="imgLinks" /></a>
        </li>
        <li class="opt">
          <a href="#projectsWrapper" mdbPageScroll><img src="../../assets/projects.svg" alt="" class="imgLinks" /></a>
        </li>
        <li class="first">
          <a href="#contactWrapper" mdbPageScroll><img src="../../assets/contact.svg" alt="" class="imgLinks" /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menuPC" *ngIf="innerWidth>=576" [@openClose]="showMainMenu ? 'open' : 'closed'">
    <div class="container-fluid">
      <div class="row z-depth-2 animated fadeInDown menu-pc">
        <div class="col-md-3 col-sm-3  logoWrapper">
          <img src="../../assets/logo-negative.png" alt="" class="logo" />
       </div>
        <div class="col-sm-9 col-md-9">
          <ul class="options list-unstyled">
            <li class="opt">
              <a href="#aboutWrapper" mdbPageScroll><img src="../../assets/user.svg" alt="" class="imgLinks" /></a>
            </li>
            <li class="opt">
              <a href="#skillsWrapper" mdbPageScroll><img src="../../assets/skills.svg" alt="" class="imgLinks" /></a>
            </li>
            <li class="opt">
              <a href="#projectsWrapper" mdbPageScroll><img src="../../assets/projects.svg" alt=""
                  class="imgLinks" /></a>
            </li>
            <li class="first">
              <a href="#contactWrapper" mdbPageScroll><img src="../../assets/contact.svg" alt="" class="imgLinks" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- End Menu -->
  <!-- Pages  -->
  <app-home> </app-home>
  <app-about></app-about>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-contact></app-contact>
  <!-- End Pages -->
</div>
