@import "../../styles.scss";
.contactWrapper{
    background: $dark;
    text-align: center;
    align-content: center;
    .title {
        color: $light;
        font-weight: 900;
        margin-top: 50px;
      }
      hr {
        width: 50px;
        background: $accent;
        height: 4px;
        border-radius: 50px;
      }
      .card-header{
          background-color: $accent;
          color: $dark;
          h5{
            font-size: 20px;
            font-weight: 700;
          }
      }
      .card-body{
          background-color: $form;
          .form-control{
            color: $light;
          }
          textarea {
            white-space: pre-wrap;
          }
          .btn{
              color:$accent;
              border: 5px solid $accent;
              border-radius: 50%;
              padding: 25px;
              text-align: end;
              .send-icon{
                  color: $light;
              }
              .spinner{
                color: $light; 
              }
          }
          .btn:hover {
            background:$accent;
        }
      }
      .modal-header{
        background-color: $accent;
      }
      .modal-body{
      color: white;
        background-color: $dark;
        .modal-icon{
          color: $accent;
        }
      }
      .modal-footer{
        border-top: 2px solid #333;
        background-color: $form;
        .footer-btn{
          background-color: $accent;
        }
      }
}