<div class="bodyWrapper">
    <particles
    [params]="myParams"
    [style]="myStyle"
    [width]="width"
    [height]="height"
  ></particles>
  <div class="body">
    <div class="titleWrapper">
      <h1 class="title fadeIn animated">
        Hi! I'm <span class="name">Helberth Torres</span>.
      </h1>
      <h2 class="subtitle  animated fadeInUp">
        I'm a Full Stack Web Developer
      </h2>
    </div>
    <div class="btnWrapper">
      <a href="#projectsWrapper" mdbPageScroll
        class="mainBtn btn z-depth-2 waves-effect waves-dark animated zoomIn "
        mdbWavesEffect
      >
        Check out my work <i class="fas fa-arrow-right arrow"></i>
    </a>
    </div>
    <img
      src="../../assets/scroll.svg"
      alt=""
      class="scroll animated bounceInDown delay-4s"
    />
  </div>
</div>
