<div class="projectsWrapper" id="projectsWrapper">
  <h2 class="title">My Recent Work</h2>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInLeft">
        <mdb-card
          style="background-image: url('../../assets/spooners.png');   background-repeat: no-repeat;
          background-size: auto;"
          class="card-image mb-3 mx-2"
        >
          <!-- Content -->
          <div
            class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
          >
            <div class="">
              <h5 class="" style="color: #3cc1b5;">
                <mdb-icon fas icon="chart-line"></mdb-icon>
                Loyalty Program
              </h5>
              <h3 class="card-title white-text pt-2">
                <strong>Spooners</strong>
              </h3>
              <p class="mb-3">
                Develop the frontend, consum an API for the backend of the app
                using Ionic, create new modules, publish apps to iOS App Store
                and Android Play Store.
              </p>
              <a
                class="mr-5 white-text"
                target="_blank"
                href="https://play.google.com/store/apps/details?id=com.qmsoluciones.spoon"
                rel="noopener noreferrer"
              >
                <mdb-icon fab icon="google" size="2x"></mdb-icon>
              </a>
              <a
                href="https://apps.apple.com/us/app/spooners/id966671776?l=es"
                target="_blank"
                rel="noopener noreferrer"
                class="white-text"
              >
                <mdb-icon fab icon="apple" size="2x" class="mb-2"></mdb-icon>
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>
      <div class="col-md-4 wow fadeInDown">
        <mdb-card
          style="background-image: url('../../assets/libreria.png');   background-repeat: no-repeat;"
          class="card-image mb-3 mx-2"
        >
          <!-- Content -->
          <div
            class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
          >
            <div>
              <h5 class="" style="color: #3cc1b5;">
                <mdb-icon fas icon="book"></mdb-icon>
                Book Store
              </h5>
              <h3 class="card-title white-text pt-2">
                <strong>Libreria Internacional</strong>
              </h3>
              <p>
                Develop certain modules with the team with C# and MVC,
                periodically present Quality Control checks and perform
                matainance tasks.
              </p>
              <a
                mdbBtn
                class="waves-light"
                style="background-color: #3cc1b5;"
                mdbWavesEffect
                href="https://www.libreriainternacional.com/"
                target="_blank"
              >
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View project</a
              >
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>
      <div class="col-md-4 wow fadeInRight">
        <mdb-card
          style="background-image: url('../../assets/nl.png');   background-repeat: no-repeat;
          background-size: auto;"
          class="card-image mb-3 mx-2"
        >
          <!-- Content -->
          <div
            class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
          >
            <div>
              <h5 class="" style="color: #3cc1b5;">
                <mdb-icon fas icon="chart-pie"></mdb-icon>
                Marketing
              </h5>
              <h3 class="card-title white-text pt-2">
                <strong>Net Loyalty</strong>
              </h3>
              <p>
                Develop the front end programming, validations, and consum an
                API for the backend of the app using Angular v4.0, perform
                maintenance tasks
              </p>
              <a
                mdbBtn
                class="waves-light"
                style="background-color: #3cc1b5;"
                mdbWavesEffect
                href="http://net-loyalty.com/"
                target="_blank"
              >
                >
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View project</a
              >
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>
      <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.2s">
        <mdb-card
          style="background-image: url('../../assets/spoon.webp');   background-repeat: no-repeat;
          background-size: auto;"
          class="card-image mb-3 mx-2"
        >
          <!-- Content -->
          <div
            class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
          >
            <div>
              <h5 class="" style="color: #3cc1b5;">
                <mdb-icon fas icon="utensils"></mdb-icon>
                Rstaurants
              </h5>
              <h3 class="card-title white-text pt-2">
                <strong>Spoon Call Center</strong>
              </h3>
              <p>
                Perform maintenance tasks using PHP, JavaScript and SQL Server,
                create new user modules and reports, fix bugs and create an API
                to be consumed by external company.
              </p>
              <a
                mdbBtn
                class="waves-light"
              >
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                Unable to show code</a
              >
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>
      <div class="col-md-4 wow fadeInUp">
        <mdb-card
          style="background-image: url('../../assets/gyro.png');   background-repeat: no-repeat;
          background-size: auto;"
          class="card-image mb-3 mx-2"
        >
          <!-- Content -->
          <div
            class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
          >
            <div>
              <h5 class="" style="color: #3cc1b5;">
                <mdb-icon fas icon="toolbox"></mdb-icon>
                Administrator
              </h5>
              <h3 class="card-title white-text pt-2">
                <strong>Gyro</strong>
              </h3>
              <p>
                This app has been developed fully in my personal time, using
                Angular 8, MDBootstrap, and SCSS. Backend developed with NodeJS
                and Express and Firebase Real Time Database
              </p>
              <a
                mdbBtn
                class="waves-light"
                style="background-color: #3cc1b5;"
                mdbWavesEffect
                href="https://adminsite-f0804.firebaseapp.com/dashboard"
                target="_blank"
              >
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                View project</a
              >
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>
      <div class="col-md-4 wow fadeInRight" data-wow-delay="0.2s">
        <mdb-card
          style="background-image: url('../../assets/sms.webp');   background-repeat: no-repeat;
          background-size: auto;"
          class="card-image mb-3 mx-2"
        >
          <!-- Content -->
          <div
            class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
          >
            <div>
              <h5 class="" style="color: #3cc1b5;">
                <mdb-icon far icon="comment"></mdb-icon>
                Communication
              </h5>
              <h3 class="card-title white-text pt-2">
                <strong>SMS System</strong>
              </h3>
              <p>
                Develop a multithreaded system in VB, JavaScript, SQL Server for
                a Bank to be able to send SMS to multiple countries, perform
                maintenance tasks, find and fix bugs and upload to production
                server.
              </p>
              <a
                mdbBtn
                class="waves-light"
              >
                <mdb-icon far icon="clone" class="left"></mdb-icon>
                Unable to show code</a
              >
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      </div>
    </div>
    <h2 class="title">
      I'm proud to have collaborated with these awesome companies
    </h2>
    <hr />
    <div class="row">
      <div class="col-md-4 mb-4 wow fadeInLeft">
        <img style="height:70px" src="../../assets/qm.webp" alt="" />
      </div>
      <div class="col-md-4 mb-5 wow fadeIn">
        <img style="height:70px" src="../../assets/mbc.webp" alt="" />
      </div>
      <div class="col-md-4 wow fadeInRight">
        <img style="height:65px" src="../../assets/lti.webp" alt="" />
      </div>
    </div>
  </div>
</div>
