<div class="skillsWrapper" id="skillsWrapper">
  <h2 class="title">Skills</h2>
  <hr />
  <div class="row container" style="margin-top:30px;"> 
    <div class="col-12">
      I've got more than 5 years of experience developing digital products,
      having worked on more than 10 projects  on a National and International
      level.
    </div>
    <div class="col-3 description">HTML</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 80%;"></div>
      </div>
    </div>
    <div class="col-3 description">CSS</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 85%;"></div>
      </div>
    </div>
    <div class="col-3 description">SASS</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 75%;"></div>
      </div>
    </div>
    <div class="col-3 description">JS</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 75%;"></div>
      </div>
    </div>
    <div class="col-3 description">ANGULAR</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 90%;"></div>
      </div>
    </div>
    <div class="col-3 description">C#</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 80%;"></div>
      </div>
    </div>
    <div class="col-3 description">VB</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 70%;"></div>
      </div>
    </div>
    <div class="col-3 description">SQL</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 65%;"></div>
      </div>
    </div>
    <div class="col-3 description">MONGO</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 60%;"></div>
      </div>
    </div>
    <div class="col-3 description">NODE JS</div>
    <div class="col-9 knowledge">
      <div class="fullBar">
        <div class="percent" style="width: 75%;"></div>
      </div>
    </div>
  </div>
</div>
