@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$dark: #1B1B1E;
$light: #FBFFFE;
$accent: #3cc1b5;
$detail: #928B93;
$progress: rgba(146, 139, 147, 0.23137254901960785);
body{
    font-family: 'Raleway', sans-serif;
}
